.cartHeader{
    background-color: black;
    width: 1170px;
    box-sizing: border-box;
    grid-template-columns: 4fr 1fr 1fr;
    display: grid;
    color: white;
    margin: auto;
    font:300 0.7vmax "ROBOTO";
}

.cartHeader >p{
    margin: 10px;

}

.cartHeader >p:last-child{
    text-align: end;
}

.cartContainer{
    grid-template-columns: 4fr 1fr 1fr;
    display: grid;
    margin: auto;
    width: 1160px;
    border-bottom: 2px solid midnightblue;
}

.cartInput{
    height: 8vmax;
    display: flex;
    align-items: center;
}

.cartInput >button{
    border: none;
    background-color: rgb(89, 113, 221);
    cursor: pointe;
    color: white;
    transition: all 0.5s;
    padding: 0.6vmax;
}

.cartInput >button:hover{
    background-color: black;
}

.cartSubTotle{
    display: flex;
    padding: 0.5vmax;
    justify-content: flex-end;
    color: black;
    box-sizing: border-box;
    align-items: center;
}


.cartGroProfit{
    display: grid;
    grid-template-columns: 2fr 1.2fr;
}

.cartGroProfitBox{
    border-top: 3px solid black;
    box-sizing: border-box;
    margin: 2vmax 2vmax;
    justify-content: space-between;
    padding: 2vmax 0;
    display: flex;
}

#a1{
    margin-left: 111px;
}

.checkOutBtn > button{
    border: 2px solid black;
    display: flex;
   justify-content: flex-end;
   align-items: center;
   box-sizing: border-box; 
   padding-left: 50px;
   padding-right: 60px;
}

.checkOutBtn{
    display: flex;
    justify-content: flex-end;
    margin-right: 70px;
   
}


.checkOutBtn :hover{
    background-color: black;
    color: white;
}

.emptyCart{
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 50vh;
}

.emptyCart >svg{
    color: black;
    font-size: 6vmax;
}

.emptyCart > p{
    font-size: 2vmax;
    margin-bottom: 30px;
    margin-top: 30px;
}

.emptyCart  > a {
    background-color: black;
    color: white;
    padding: 1vmax 3vmax;
    cursor: pointer;
    text-decoration: none;

} 

.emptyCart >a :hover{
    background-color: wheat;
}